<%= index_bar(itens: {view_t(".directorate_areas") => nil }) do %>
  <%#= action_btn(content: view_t('add'), href: new_directorate_area_path) %>
  <%= action_btn(content: view_t('add'), href: "#directorate_area-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: view_t('filter'), href: "#filter-directorate_areas-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: view_t(".name") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @directorate_areas) do |e| %>
    <%= b_row() do %>
      <%= b_cell(element: e.name)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } if can?(:destroy, e) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(directorate_areas_url, "directorate_areas") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', directorate_area: @directorate_area %>