<%= simple_form_for(function_contract_type) do |f| %>
  <%= form_url_helpers(f)%>
  <div id="function_contract_type-modal-form" class="modal">
    <div class="modal-content">
      <span class="h5-size"> <%= function_contract_type.new_record? ? 'Adicionar Tipo de Contracto' : 'Actualizar Tipo de contracto' %> </span>
      <hr>

      <div class="flex-row flex-top">
        <%= f.input :name, wrapper_html: {class: 'flex-col-xs-12'}, input_html: {class: ''} %>
      </div>
    </div>

    <div class="modal-footer">
      <%= f.button :submit %>
      <%= link_to t('cancel'), function_contract_type.cancel_url || function_contract_types_path, class: 'waves-effect waves-light btn btn-flat btn-cancel-form' %>
    </div>
  </div>
<% end %>
