<table class="bordered" style="width: 100%;">
  <tbody>
    <tr style="background-color: #fbb035; color: #fff;">
      <%= h_cell(text: view_t(".paygrade") )%>
      <%= h_cell(text: view_t(".level") )%>
      <%= h_cell(text: view_t(".since") )%>
      <%= h_cell(text: view_t(".base_salary") )%>
      <% h_cell(text: view_t(".paygrade_change_reason") )%>
      <% h_cell(sortable: false) %>
    </tr>

    <% @employee_paygrades.each do |e| %>
      <tr>
        <%= b_cell(element: e.paygrade)%>
        <%= b_cell(element: e.present_level)%>
        <%= b_cell(element: l(e.since))%>
        <%= b_cell(element: e.kwanza_t(:base_salary))%>
        <% b_cell(element: e.paygrade_change_reason.reason.truncate(50))%>
        <% b_cell(text: "") do %>
          <%= link_to t('show'), e %> |
          <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>