<%= simple_form_for(vacation_subsidy) do |f| %>
  <div id="vacation_subsidy-modal-form" class="modal modal-fixed-footer">
    <div class="modal-content">
      <span class="h5-size"> <%= vacation_subsidy.new_record? ? t('.new') : t('.edit') %> </span>
      <hr>

      <div class="row">
        <%= f.input :name, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
        <%= f.input :abbr_name, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
        <%= f.input :percentage, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
        <%= f.input :status, collection: SubsidyTaxModel.enums_map_t(:status), include_blank: false, input_html: {class: 'default-selectize'}, wrapper_html: {class: 'flex-col-xs-3'} %>
      </div>
    </div>

    <div class="modal-footer">
      <%= f.button :submit %>
      <%= link_to t('cancel'), latest_vacation_subsidy_url, class: 'waves-effect waves-light btn btn-flat btn-cancel-form' %>
    </div>
  </div>
<% end %>
