<%= simple_form_for(goal, url: assessment_create_objective_url(goal.assessment_id)) do |f| %>
    <%=f.input :cancel_url, as: :hidden%>
    <%=f.input :redirect_url, as: :hidden%>
    <div id="add-assessment-objective" class="modal modal-fixed-footer">
      <div class="modal-content">
        <span class="h5-size"> <%=t('assessment.new_objective')%></span>
        <hr>
        <div class="row" style="margin:0;">

          <%= f.input :name, label: t("goal.new_objective"), wrapper_html: {class: 'col s8'} %>
          <%= f.input :status, collection: Goal.enums_map_t(:period), wrapper_html: {class: 'col s4'}, input_html: {class: 'default-selectize'} %>

        </div>
        <div class="row" style="margin:0;">

          <%= f.input :for_everyone, wrapper_html: {class: 'col s6', style: 'padding-top: 18px;padding-bottom: 28px;'}, as: :bootstrap_switch%>

          <%= f.association :positions, label: t("goal.position"), collection: Position.get_by_role(current).map {|a| [a.name, a.id]}, optional: false, wrapper_html: {class: 'col m6'}, input_html: {class: 'default-selectize'} %>

        </div>
        <div class="row" style="margin:0;">

          <% f.input :status, label: t("goal.status"), collection: Goal.statuses.for_select(:ts), wrapper_html: {class: 'col s6'}, input_html: {class: 'default-selectize'} %>

          <%= f.input :nature, label: t("goal.nature"), collection: Goal.natures.for_select(:ts), wrapper_html: {class: 'col s12'}, input_html: {class: 'default-selectize'} %>

          <%= f.input :target, label: t("goal.target"), wrapper_html: {class: 'col s6', "data-show-on-select": "#goal_nature,numeric"} %>

          <%= f.input :unit, label: t("goal.unit"), collection: Goal.units.for_select(:ts), wrapper_html: {class: 'col s6', "data-show-on-select": "#goal_nature,numeric"}, input_html: {class: 'default-selectize'} %>

        </div>
      </div>

      <div class="modal-footer">
        <%= f.button :submit, "#{goal.new_record? ? 'Registar' : 'Actualizar'}", class: "btn btn-default" %>
        <%= close_modal_btn %>
      </div>
    </div>
<% end %>
