<% @page_name = "assessment.map".ts %>

<%# toolbar(itens_menu: {"#{'assessments'.ts}": assessments_url, "#{'assessment.map'.ts}": @assessment }, bar_arguments: { edit_modal: "#add-assessment", delete: @assessment } ) %>


<%= index_bar(itens: {t('assessments') => assessments_url, t('assessment.map') => nil}) do %>
  <%= action_btn_dropdown(content: t('export'), data_activates: "dropdown-export") do %>
    <%= dropdown_item(export: :pdf, color: :yellow) %>
    <%= dropdown_item(export: :xls, color: :green) %>
  <% end %>

  <%= action_btn_dropdown(content: t('add_to_assessment'), data_activates: "dropdown-add") do %>
    <%= dropdown_item(item: t('assessment.new_objective'), 'data-fill': "#application_container", 'data-fill-with': new_goal_url(goal: {assessment_id: @assessment.id, goal_type: :objective, redirect_url: current_url, cancel_url: current_url}, layout_type: :partial_view_application)) %>
    <%= dropdown_item(item: t('assessment.new_skill'), 'data-fill': "#application_container", 'data-fill-with': new_goal_url(goal: {assessment_id: @assessment.id, goal_type: :skill, redirect_url: current_url, cancel_url: current_url}, layout_type: :partial_view_application)) %>
  <% end %>

  <%= action_btn(content: t('edit'), href: '#add-assessment', modal_trigger: true) %>
  <%= action_btn(content: t('assessment.delete'), href: assessment_url(@assessment), method: :delete, color: :red, if_can: {destroy: @assessment}) %>
  <%= action_btn(content: t('assessment.copy_skills_from_year', year: @assessment.year - 1), href: new_skills_from_last_year_url, remote: :true, color: :blue, if_can: {new_skills_from_last_year: @assessment}) %>
  <%= action_btn(filter: :employees) %>

  <%= action_btn_dropdown(content: t('change_status'), data_activates: "dropdown-status") do %>
      <%= dropdown_item(item: t('assessment.activate'), href: activate_assessment_url(redirect_url: current_url), method: :patch, color: :green, if_can: {activate: @assessment}) %>
      <%= dropdown_item(item: t('assessment.close'), href: close_assessment_url(redirect_url: current_url), method: :patch, color: :yellow, if_can: {close: @assessment}) %>
      <%= dropdown_item(item: t('assessment.deactivate'), href: deactivate_assessment_url(redirect_url: current_url), method: :patch, color: :yellow, if_can: {deactivate: @assessment}) %>
      <%= dropdown_item(item: t('assessment.draft'), href: draft_assessment_url(redirect_url: current_url), method: :patch, color: :gray, if_can: {draft: @assessment}) %>
  <% end %>
<% end %>

<% self_pending = calculate_percentagem(@total_employees_assessments, @all_self_assessment_status0) %>
<% self_progress = calculate_percentagem(@total_employees_assessments, @all_self_assessment_status1) %>
<% self_completed = (100.to_f - (self_progress + self_pending)).round(2) %>
<% supervisor_pending = calculate_percentagem(@total_employees_assessments, @all_supervisor_assessment_status0) %>
<% supervisor_progress = calculate_percentagem(@total_employees_assessments, @all_supervisor_assessment_status1) %>
<% supervisor_completed = (100.to_f - (supervisor_progress + supervisor_pending)).round(2) %>
<% final_pending = calculate_percentagem(@total_employees_assessments, @all_final_assessment_status0) %>
<% final_progress = calculate_percentagem(@total_employees_assessments, @all_final_assessment_status1) %>
<% final_completed = (100.to_f - (final_progress + final_pending)).round(2) %>

<%= l_table do %>
    <%= t_header do %>
      <span style="font-size: 11px;"> <%= t("percentage_of_execution_self") %></span>
      <span style="font-size: 11px; float: right; padding-right: 0px;">
        <span> <%= self_pending.trim_decimal %>% - <i style="color: #d50000; font-size: 10px;" class="material-icons">lens</i> </span>
        <span style="margin-left: 10px;"> <%= self_progress.trim_decimal %>
          % - <i style="color: #fab033; font-size: 10px;" class="material-icons">lens</i> </span>
        <span style="margin-left: 10px;"> <%= self_completed.trim_decimal %>
          % - <i style="color: #4caf50; font-size: 10px;" class="material-icons">lens</i> </span>
      </span>

      <div class="progress-next">
        <div class="progress-bar-next progress-bar-danger" role="progressbar" style="width: <%= self_pending %>%"></div>
        <div class="progress-bar-next progress-bar-warning" role="progressbar" style="width: <%= self_progress %>%"></div>
        <div class="progress-bar-next progress-bar-success" role="progressbar" style="width: <%= self_completed %>%"></div>
      </div>
    <% end %>
<% end %>

<%= l_table do %>
    <%= t_header do %>
      <span style="font-size: 11px;"> <%= t("percentage_of_execution_supervisor") %></span>
      <span style="font-size: 11px; float: right; padding-right: 0px;">
        <span> <%= supervisor_pending.trim_decimal %>
          % - <i style="color: #d50000; font-size: 10px;" class="material-icons">lens</i> </span>
        <span style="margin-left: 10px;"> <%= supervisor_progress.trim_decimal %>
          % - <i style="color: #fab033; font-size: 10px;" class="material-icons">lens</i> </span>
        <span style="margin-left: 10px;"> <%= supervisor_completed.trim_decimal %>
          % - <i style="color: #4caf50; font-size: 10px;" class="material-icons">lens</i> </span>
      </span>

      <div class="progress-next">
        <div class="progress-bar-next progress-bar-danger" role="progressbar" style="width: <%= supervisor_pending %>%"></div>
        <div class="progress-bar-next progress-bar-warning" role="progressbar" style="width: <%=  supervisor_progress %>%"></div>
        <div class="progress-bar-next progress-bar-success" role="progressbar" style="width: <%= supervisor_completed %>%"></div>
      </div>
    <% end %>
<% end %>

<%= l_table do %>
  <%= t_header do %>
    <span style="font-size: 11px;"> <%= t("percentage_of_execution_final") %></span>
    <span style="font-size: 11px; float: right; padding-right: 0px;">
      <span> <%= final_pending.trim_decimal %>% - <i style="color: #d50000; font-size: 10px;" class="material-icons">lens</i> </span>
      <span style="margin-left: 10px;"> <%= final_progress.trim_decimal %>
        % - <i style="color: #fab033; font-size: 10px;" class="material-icons">lens</i> </span>
      <span style="margin-left: 10px;"> <%= final_completed.trim_decimal %>
        % - <i style="color: #4caf50; font-size: 10px;" class="material-icons">lens</i> </span>
    </span>

    <div class="progress-next">
      <div class="progress-bar-next progress-bar-danger" role="progressbar" style="width: <%= final_pending %>%"></div>
      <div class="progress-bar-next progress-bar-warning" role="progressbar" style="width: <%= final_progress %>%"></div>
      <div class="progress-bar-next progress-bar-success" role="progressbar" style="width: <%= final_completed %>%"></div>
    </div>
  <% end %>
<% end %>

<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: t('employee_number')) %>
    <%= h_cell(text: t('employee_name')) %>
    <%= h_cell(text: t('employee_paygrade')) %>
    <%= h_cell(text: t('department_name')) %>
    <%= h_cell(text: t('description')) %>

    <%= h_cell(text: t('final_assessment'), align: :right) %>
    <th class="" style="width: 88px;"><%=  %></th>
    <th class="mdl-data-table__cell--non-numeric cell-align" style="width: 40px;"><%= t('short.self_assessment') %></th>
    <th class="mdl-data-table__cell--non-numeric cell-align" style="width: 40px;"><%= t('short.supervisor_assessment') %></th>
    <th class="mdl-data-table__cell--non-numeric cell-align" style="width: 40px;"><%= t('short.final_assessment') %></th>
  <% end %>

  <%= t_body(elements: @employees, check_params: [:department_id, :function_id, :position_id, :paygrade, :level, :employee_id], params_empty_message: t(:use_the_blue_button_to_filter)) do |e| %>
    <%= b_row(link_to: employee_url(e)) do %>
      <%= b_cell(element: e.number) %>
      <%= b_cell(element: e.first_and_last_name) %>
      <%= b_cell(element: e.paygrade.to_s) %>
      <%= b_cell(element: e.efective_position&.department&.name) %>
      <%= b_cell(element: description_states(@assessment.present? ? @assessment.employee_assessment(e) : 0) ) %>
      <%= b_cell(element: @assessment.present? ? @assessment.employee_assessment(e) : 'n/a'.ts) %>
      <td class="" style="width: 88px;">
        <% if @comments_by_employee[e.id].present? && @comments_by_employee[e.id][:comments_number] > 0 %>
          <span class="fa-stack has-badge" data-count="<%= @comments_by_employee[e.id][:comments_number] %>" style="font-size: 18px;"><i class="fa fa-comment fa-stack-1x"></i></span>
          <% if @comments_by_employee[e.id][:reports_number] > 0%>
            <span class="fa-stack has-badge" data-count="<%= @comments_by_employee[e.id][:reports_number] %>" style="font-size: 18px;"><i class="fa fa-flag fa-stack-1x"></i></span>
          <% end %>
        <% end %>
      </td>

      <td class="mdl-data-table__cell--non-numeric color" style="width: 40px;"> <%= employee_self_assessment_color(@employees_assessments[e.id], :self) %> </td>
      <td class="mdl-data-table__cell--non-numeric color" style="width: 40px;"> <%= employee_self_assessment_color(@employees_assessments[e.id], :supervisor) %> </td>
      <td class="mdl-data-table__cell--non-numeric color" style="width: 40px;"> <%= employee_self_assessment_color(@employees_assessments[e.id], :final) %> </td>
    <% end %>
  <% end %>
<% end %>

<%= render "form", assessment: @assessment %>
<%#= render "skill_form", goal: @skill %>
<%#= render "objective_form", goal: @objective %>

<%= filter_modal(assessments_map_url, 'employees') do %>
  <div class="flex-row">
    <div class="flex-col-xs-12 flex-col-sm-3">
      <%= select_tag 'employee_id[]', options_for_select(Employee.map_for_filter, params[:employee_id]), multiple: :multiple, class: "default-selectize", prompt: "Nome" %>
    </div>
    <div class="flex-col-xs-12 flex-col-sm-3">
      <%= select_tag 'organic_unit_id[]', options_for_select(OrganicUnit.all.map {|p| ["#{p.abbreviation} - #{p.name}", p.id]}, params[:organic_unit_id]), multiple: :multiple, class: "default-selectize", prompt: "Unidade Orgânica" %>
    </div>
    <div class="flex-col-xs-12 flex-col-sm-3">
      <%= select_tag 'function_id[]', options_for_select(Function.map_for_filter, params[:function_id]), multiple: :multiple, class: "default-selectize", prompt: "Função" %>
    </div>
    <div class="flex-col-xs-12 flex-col-sm-3">
      <%= select_tag 'position_id[]', options_for_select(Position.map_for_filter, params[:position_id]), multiple: :multiple, class: "default-selectize", prompt: "Posição" %>
    </div>
    <div class="flex-col-xs-12 flex-col-sm-3">
      <%= select_tag 'paygrade[]', options_for_select(Employee.map_paygrade_for_filter, params[:paygrade]), multiple: :multiple, class: "default-selectize", prompt: "Escalão" %>
    </div>
    <div class="flex-col-xs-12 flex-col-sm-3">
      <%= select_tag 'level[]', options_for_select(Employee.map_level_for_filter, params[:level]), multiple: :multiple, class: "default-selectize", prompt: "Nível" %>
    </div>
  </div>
<% end %>


<style>



</style>
