<?xml version="1.0"?>

<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <%= render 'layouts/excel_styles'%>
  <Worksheet ss:Name="<%=t('departments')%>">
    <Table>
      <Column ss:Width="200"/>
      <Column ss:Span="1" ss:Width="200"/>

      <Row ss:StyleID="bold">
        <Cell><Data ss:Type="String"><%=t('assessment.map')%></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
      </Row>

      <Row ss:StyleID="bold">
        <Cell ss:StyleID="my_header"><Data ss:Type="String"><%=t('employee_number')%></Data></Cell>
        <Cell ss:StyleID="my_header"><Data ss:Type="String"><%=t('employee_name')%></Data></Cell>
        <Cell ss:StyleID="my_header"><Data ss:Type="String"><%=t('department_name')%></Data></Cell>

        <Cell ss:StyleID="my_header"><Data ss:Type="String"><%=t('short.self_assessment')%></Data></Cell>
        <Cell ss:StyleID="my_header"><Data ss:Type="String"><%=t('short.supervisor_assessment')%></Data></Cell>
        <Cell ss:StyleID="my_header"><Data ss:Type="String"><%=t('short.final_assessment')%></Data></Cell>
      </Row>

      <% @employees_assessments.each_with_index do |e, index| %>
        <Row>
          <Cell ss:StyleID="<%=index.odd? ? :odd : :even%>"><Data ss:Type="String"><%= @employees_by_id[e.employee_id].number %></Data></Cell>
          <Cell ss:StyleID="<%=index.odd? ? :odd : :even%>"><Data ss:Type="String"><%= @employees_by_id[e.employee_id].first_and_last_name %></Data></Cell>
          <Cell ss:StyleID="<%=index.odd? ? :odd : :even%>"><Data ss:Type="String"><%= @departments_by_id[@positions_by_employee_id[e.employee_id]&.department_id]&.name_and_number || t('n/a') %></Data></Cell>

          <Cell ss:StyleID="<%= color_status_export_assessment(@employees_assessments_index_by_employee_id[e.id], :self) %>"><Data ss:Type="String"> </Data></Cell>
          <Cell ss:StyleID="<%= color_status_export_assessment(@employees_assessments_index_by_employee_id[e.id], :supervisor) %>"><Data ss:Type="String"> </Data></Cell>
          <Cell ss:StyleID="<%= color_status_export_assessment(@employees_assessments_index_by_employee_id[e.id], :final) %>"><Data ss:Type="String"> </Data></Cell>

        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
