<%= index_bar(itens: {view_t(".justification_answers") => nil }) do %>
  <%#= action_btn(content: view_t('add'), href: new_justification_answer_path) %>
  <%= action_btn(content: view_t('add'), href: "#justification_answer-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: view_t('filter'), href: "#filter-justification_answers-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: view_t(".employee_justification") )%>
    <%= h_cell(text: view_t(".employee") )%>
    <%= h_cell(text: view_t(".status") )%>
    <%= h_cell(text: view_t(".kind") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @justification_answers) do |e| %>
    <%= b_row(link_to: employee_employee_justification_justification_answer_url(@employee, @employee_justification, e)) do %>
      <%= b_cell(element: e.employee_justification)%>
      <%= b_cell(element: e.employee)%>
      <%= b_cell(element: e.status)%>
      <%= b_cell(element: e.kind)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), employee_employee_justification_justification_answer_url(@employee, @employee_justification, e) if can?(:show, e) %> | 
        <%= link_to t('edit'), edit_employee_employee_justification_justification_answer_url(@employee, @employee_justification, e) if can?(:edit, e) %> | 
        <%= link_to t('destroy'), employee_employee_justification_justification_answer_url(@employee, @employee_justification, e), method: :delete, data: { confirm: t('are_you_sure') } if can?(:destroy, e) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(employee_employee_justification_justification_answers_url(@employee, @employee_justification), "justification_answers") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', employee: @employee, employee_justification: @employee_justification, justification_answer: @justification_answer %>