<div class="vacancy_show">

  <%= index_bar(itens: {view_t(".vacancies") => vacancies_url, view_t('.vacancy') => nil}) do %>
    <%#= action_btn(content: view_t('update'), href: edit_vacancy_path(@vacancy) ) if can?(:edit, @vacancy) %>
    <%= link_to 'Enviar Candidatura', create_application_url(vacancy_id: @vacancy.id), class: 'waves-effect waves-light btn btn-default btn-cancel-form' %>
    <%= action_btn(content: view_t('update'), href: "#vacancy-modal-form", modal_trigger: true) if can?(:edit, @vacancy) %>
  <% end %>

  <div style="background-image: linear-gradient(174deg, rgb(248, 250, 252), rgb(253, 254, 255) 50%);
    box-sizing: border-box;
    color: rgb(88, 118, 149);
    font-family: 'SourceSansPro', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    position: relative">

    <div class="row">
      <div class="col s7">
        <div class="col s12">
          <%= blog_show_item(".position", @vacancy.position) %>
          <%= blog_show_item(".number", @vacancy.present_number) %>
          <%= blog_show_item(".status", @vacancy.enum_t(:status)) %>
          <%= blog_show_item(".year_of_experience", @vacancy.year_of_experience) %>
          <%= blog_show_item(".requirements", @vacancy.requirements) %>
          <%= blog_show_item(".job_description", @vacancy.job_description) %>
          <hr style="width: 50%;">
        </div>

        <div class="col s12">
          <%#= blog_show_item(".target", @vacancy.enum_t(:target)) %>
          <%= blog_show_item(".contract_type", @vacancy.enum_t(:contract_type)) %>
          <%= blog_show_item(".offer_ends_at", @vacancy.offer_ends_at) %>
          <hr style="width: 50%;">
        </div>

        <div class="col s12">
          <%= blog_show_item(".country", @vacancy.country) %>
          <%= blog_show_item(".city", @vacancy.city) %>
          <%= blog_show_item(".province", @vacancy.province) %>
        </div>
      </div>

      <% if current.is?(:hr, :admin) %>
        <div class="col s5">
          <div class="row">
              <div class="col s12">
              <h5>Candidatos</h5>
                <%= l_table do %>
                  <%= t_header do %>
                    <%= h_cell(text: view_t(".name") )%>
                    <%= h_cell(text: view_t(".cellphone") )%>
                    <%= h_cell(text: view_t(".employee") )%>
                  <% end %>
                  <%= t_body(elements: @vacancy.applications) do |e| %>
                    <%= b_row(link_to: application_path(e)) do %>
                      <%= b_cell(element: e.name)%>
                      <%= b_cell(element: e.cellphone)%>
                      <%= b_cell(element: e.employee&.number || 'N/D')%>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
      <% end %>

    </div>

    <hr>

    <%= render 'form', vacancy: @vacancy %>
  </div>

</div>
