<%= index_bar(itens: {view_t(".request_types") => nil }) do %>
  <%#= action_btn(content: view_t('add'), href: new_request_type_path) %>
  <%= action_btn(content: view_t('add'), href: "#request_type-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: view_t('filter'), href: "#filter-request_types-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: view_t(".name") )%>
    <%#= h_cell(text: view_t(".note") )%>
    <%#= h_cell(text: view_t(".requires_supervisor_approval") )%>
    <%#= h_cell(text: view_t(".requires_supervisor_supervisor_approval") )%>
    <%#= h_cell(text: view_t(".requires_dpe_approval") )%>
    <%#= h_cell(text: view_t(".requires_dpe_supervisor_approval") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @request_types) do |e| %>
    <%= b_row(link_to: request_type_path(e)) do %>
      <%= b_cell(element: e.name)%>
      <%#= b_cell(element: e.note)%>
      <%#= b_cell(element: e.requires_supervisor_approval)%>
      <%#= b_cell(element: e.requires_supervisor_supervisor_approval)%>
      <%#= b_cell(element: e.requires_dpe_approval)%>
      <%#= b_cell(element: e.requires_dpe_supervisor_approval)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e if can?(:show, e) %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } if can?(:destroy, e) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(request_types_url, "request_types") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', request_type: @request_type %>