<%= index_bar(itens: {view_t(".time_settings") => nil }) do %>
  <%#= action_btn(content: view_t('add'), href: new_time_setting_path) %>
  <%= action_btn(content: view_t('add'), href: "#time_setting-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: view_t('filter'), href: "#filter-time_settings-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: view_t(".number_of_months_to_enjoy_vacation") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @time_settings) do |e| %>
    <%= b_row(link_to: time_setting_path(e)) do %>
      <%= b_cell(element: e.number_of_months_to_enjoy_vacation)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e if can?(:show, e) %> | 
        <%= link_to t('edit'), edit_time_setting_path(e) if can?(:edit, e) %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } if can?(:destroy, e) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(time_settings_url, "time_settings") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', time_setting: @time_setting %>