<%= simple_form_for(employee_lesson) do |f| %>
  <%= form_url_helpers(f)%>
  <div id="employee_lesson-modal-form" class="modal modal-fixed-footer">
    <div class="modal-content">
      <span class="h5-size"> <%= employee_lesson.new_record? ? view_t('.new_x', x: view_t('.employee_lesson')) : view_t('.edit_x', x: view_t('.employee_lesson')) %> </span>
      <hr>

      <div class="flex-row flex-top">
        <%= f.association :lesson, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: ''} %>
        <%= f.association :employee_course, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: ''} %>
      </div>
    </div>

    <div class="modal-footer">
      <%= f.button :submit %>
      <%= link_to t('cancel'), employee_lesson.cancel_url || employee_lessons_path, class: 'waves-effect waves-light btn btn-flat btn-cancel-form' %>
    </div>
  </div>
<% end %>
