<%= index_bar(itens: {view_t(".employee_lessons") => nil }) do %>
  <%#= action_btn(content: view_t('add'), href: new_employee_lesson_path) %>
  <%= action_btn(content: view_t('add'), href: "#employee_lesson-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: view_t('filter'), href: "#filter-employee_lessons-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: view_t(".lesson") )%>
    <%= h_cell(text: view_t(".employee_course") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @employee_lessons) do |e| %>
    <%= b_row(link_to: employee_lesson_path(e)) do %>
      <%= b_cell(element: e.lesson)%>
      <%= b_cell(element: e.employee_course)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e if can?(:show, e) %> | 
        <%= link_to t('edit'), edit_employee_lesson_path(e) if can?(:edit, e) %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } if can?(:destroy, e) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(employee_lessons_url, "employee_lessons") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', employee_lesson: @employee_lesson %>