<%= simple_form_for employee_goal do |f| %>

  <div class="row">
    <h6 class="mdl-card__title-text"><%= employee_goal.goal_type.ts %>: <%= employee_goal.name %></h6>
    <h6 class="mdl-card__title-text"></h6>
    <!--<p class="font-size: "><strong><%= employee_goal.goal_type.ts %>:</strong> <%= employee_goal.name %></p>-->
    <!--<p class="font-size: "><strong><%= 'goal.nature'.ts %>:</strong> <%= employee_goal.nature.ts %></p>-->
    <div class="mdl-card__supporting-text">
      <% if employee_goal.numeric? %>
          <%= 'goal.nature'.ts %>: <%= employee_goal.nature.ts %>
          <br>
          <%= 'goal.target'.ts %>: <%= employee_goal.target %>
          <br>
          <%= 'self_assessment'.ts %>: <%= employee_goal.self_assessment %>
      <% end %>
      <br>
      <%= :description.ts %>:<%= employee_goal.description %></p>
    </div>
    <hr>
    <% if employee_goal.numeric? %>
        <%= f.input :amount, wrapper_html: {class: 'col m4 s12'}, disabled: current.employee != @employee, read_only: current.employee != @employee %>
    <% else %>
        <%= f.input :self_assessment, label: "self_assessment".ts, wrapper_html: {class: 'col m4 s12'}, disabled: current.employee != @employee, read_only: current.employee != @employee %>
    <% end %>

    <%= f.input :supervisor_assessment, label: "supervisor_assessment".ts, wrapper_html: {class: 'col m4 s12'}, disabled: !current.team_members.include?(@employee), read_only: !current.team_members.include?(@employee) %>
    <%= f.input :final_assessment, label: "final_assessment".ts, wrapper_html: {class: 'col m4 s12'}, disabled: !current.team_members.include?(@employee), read_only: !current.team_members.include?(@employee) %>
    <%= f.input :employee_note, label: :employee_note.ts, wrapper_html: {class: 'col s12'}, disabled: current.employee != @employee, read_only: current.employee != @employee %>
    <%= f.input :supervisor_note, label: :supervisor_note.ts, wrapper_html: {class: 'col s12'}, disabled: !current.team_members.include?(@employee), read_only: !current.team_members.include?(@employee) %>
    <% f.input :status, label: "employee_goal.status".ts, collection: EmployeeGoal.statuses.map.for_select(:ts), wrapper_html: {class: 'col m6 s12'}, input_html: {class: 'default-selectize'} %>

  </div>

  <%= f.button :button, :save.ts %>
  <%= link_to :cancel.ts, employee_goals_url, class: 'waves-effect waves-light btn btn-flat btn-cancel-form' %>
<% end %>
