<% @page_name = "#{@user.first_name} #{@user.last_name}" %>
<% toolbar(itens_menu: {"#{'plural.user'.ts}": users_url, "#{@user.first_name} #{@user.last_name}": "#"}, bar_arguments: {user_reset_password: user_reset_password_url(@user), edit_modal: edit_user_path(@user), delete: @user  } ) %>

<div class="row">
  <div class="col s3">
      <%= image_tag @user.avatar_url, border: "0", alt: "", class: "responsive-img user-avatar" %>
  </div>
</div>

<div class="row">
  <p><strong><%= "user.first_name".ts %>: </strong><%= @user.first_name %></p>
  <p><strong><%= "user.last_name".ts %>: </strong><%= @user.last_name %></p>
</div>
