<%= simple_form_for(skill) do |f| %>
  <%= form_url_helpers(f)%>
  <div id="skill-modal-form" class="modal">
    <div class="modal-content">
      <span class="h5-size"> <%= skill.new_record? ? 'Adicionar Competência' : 'Actualizar Competência' %> </span>
      <hr>

      <div class="flex-row flex-top">
        <%= f.input :name, wrapper_html: {class: 'flex-col-xs-12'}, input_html: {class: ''} %>
      </div>
    </div>

    <div class="modal-footer">
      <%= f.button :submit %>
      <%= link_to t('cancel'), skill.cancel_url || skills_path, class: 'waves-effect waves-light btn btn-flat btn-cancel-form' %>
    </div>
  </div>
<% end %>
