<%= index_bar(itens: {view_t(".skills") => nil }) do %>
  <%#= action_btn(content: view_t('add'), href: new_skill_path) %>
  <%= action_btn(content: view_t('add'), href: "#skill-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: view_t('filter'), href: "#filter-skills-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: view_t(".name") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @skills) do |e| %>
    <%= b_row do %>
      <%= b_cell() do%>
        <%= editable(e, :name, mode: :popup, title: 'Competência') %>
      <%end%>
      <%= b_cell(text: "") do %>
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } if can?(:destroy, e) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(skills_url, "skills") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', skill: @skill %>