<%= index_bar(itens: {view_t(".employee_vacations") => nil }) do %>
  <%#= action_btn(content: view_t('add'), href: new_employee_vacation_path) %>
  <%= action_btn(content: view_t('add'), href: "#employee_vacation-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: view_t('filter'), href: "#filter-employee_vacations-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: view_t(".employee") )%>
    <%= h_cell(text: view_t(".left_at") )%>
    <%= h_cell(text: view_t(".returned_at") )%>
    <%= h_cell(text: view_t(".number_of_days") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @employee_vacations) do |e| %>
    <%= b_row(link_to: employee_vacation_path(e)) do %>
      <%= b_cell(element: e.employee)%>
      <%= b_cell(element: e.left_at)%>
      <%= b_cell(element: e.returned_at)%>
      <%= b_cell(element: e.number_of_days)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e if can?(:show, e) %> | 
        <%= link_to t('edit'), edit_employee_vacation_path(e) if can?(:edit, e) %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } if can?(:destroy, e) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(employee_vacations_url, "employee_vacations") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', employee_vacation: @employee_vacation %>