<%= simple_form_for(wage_income_tax) do |f| %>
  <div id="wage_income_tax-modal-form" class="modal modal-fullscreen modal-fixed-footer">
    <div class="modal-content">
      <span class="h5-size"> <%= wage_income_tax.new_record? ? t('.new') : t('.edit') %> </span>
      <hr>
      <div class="hide row">
        <%#= f.input :name, wrapper_html: {class: 'col s8'}, input_html: {class: ''} %>
        <%#= f.input :abbr_name, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
        <%#= f.input :exempt_up_to, wrapper_html: {class: 'col s12'}, input_html: {class: ''} %>
        <%#= f.simple_fields_for :wage_income_tex_items do |ff| %>
          <div class="row relative">
            <%#= ff.input :from, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
            <%#= ff.input :to, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
            <%#= ff.input :fixed_portion, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
            <%#= ff.input :percentage_over_the_excess, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
            <%#= ff.input :excess_of, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
          </div>
        <%# end %>
        <%#= f.input :max_wage, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
        <%#= f.input :max_wage_fixed_portion, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
        <%#= f.input :percentage_over_max_wage_excess, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
        <%#= f.input :max_wage_excess_of, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %>
      </div>
      <div class="row relative">
        <%= f.input :name, wrapper_html: {class: 'col s6'}, input_html: {class: ''} %>
        <%= f.input :abbr_name, wrapper_html: {class: 'col s3'}, input_html: {class: ''} %>
        <%= f.input :status, collection: SubsidyTaxModel.enums_map_t(:status), include_blank: false, input_html: {class: 'default-selectize'}, wrapper_html: {class: 'col s3'} %>
      </div>
      
      <table id='wage_form_table'>
        <thead>
          <tr>
            <th colspan='4' style='text-align: center;'><%= t '.wage'%></th>
            <th style='width: 40px;'></th>
            <th style='text-align: center;'><%= t '.fixed_portion'%></th>
            <th style='width: 40px;'></th>
            <th colspan='3' style='text-align: center;'><%= t '.rate'%></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td style='text-align: center;'><span style='font-size: 16px;'><%= t '.up_to'%></span></td>
            <td colspan='3'><%= f.input :exempt_up_to, label: false, wrapper_html: {class: 'col s12'}, input_html: {class: ''} %></td>
            <td colspan='4' style='text-align: center;'><span style='font-size: 16px;'><%= t '.exempt'%></span></td>
          </tr>
          <%= f.simple_fields_for :wage_income_tax_items do |ff| %>
            <tr>
              <td style='text-align: left;'><span style='font-size: 16px;'><%= link_to t('destroy'), '#', class: 'delete_row red-text' %> <%= t '.from'%></span></td>
              <td><%= ff.input :from, label: false, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %></td>
              <td style='text-align: center;'><span style='font-size: 16px;'><%= t '.up_to'%></span></td>
              <td><%= ff.input :to, label: false, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %></td>
              <td></td>
              <td><%= ff.input :fixed_portion, label: false, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %></td>
              <td></td>
              <td style='width: 80px;'><%= ff.input :percentage_over_the_excess, label: false, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %></td>
              <td style='text-align: center;'><span style='font-size: 16px;'><%= t '.over_the_excess_of'%></span></td>
              <td><%= ff.input :excess_of, label: false, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %></td>
            </tr>
          <% end %>
          <tr id='on-top'>
            <td style='text-align: left;'><%= link_to t('add'), '#', id: :add %></td>
            <td colspan='9'></td>
          </tr>
          <tr>
            <td colspan='3' style='text-align: center;'><span style='font-size: 16px;'><%= t '.over'%></span></td>
            <td><%= f.input :max_wage, label: false, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %></td>
            <td></td>
            <td><%= f.input :max_wage_fixed_portion, label: false, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %></td>
            <td></td>
            <td style='width: 80px;'><%= f.input :percentage_over_max_wage_excess, label: false, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %></td>
            <td style='text-align: center;'><span style='font-size: 16px;'><%= t '.over_the_excess_of'%></span></td>
            <td><%= f.input :max_wage_excess_of, label: false, wrapper_html: {class: 'col s4'}, input_html: {class: ''} %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <%= f.button :submit %>
      <%= link_to t('cancel'), latest_wage_income_tax_url, class: 'waves-effect waves-light btn btn-flat btn-cancel-form' %>
    </div>
  </div>
<% end %>


<script>
  var wage_counter = -1;
  var line = '<tr>' +
              '<td style="text-align: left;"><span style="font-size: 16px;"><a class="delete_row red-text" href="#">Apagar</a> Desde</span></td>' +
              '<td><div class="form-group decimal required wage_income_tax_wage_income_tax_items_from col s4"><input class="form-control numeric decimal required " type="number" step="any" name="wage_income_tax[wage_income_tax_items_attributes][replace_with_number][from]" id="wage_income_tax_wage_income_tax_items_attributes_replace_with_number_from"></div></td>' +
              '<td style="text-align: center;"><span style="font-size: 16px;">Até</span></td>' +
              '<td><div class="form-group decimal required wage_income_tax_wage_income_tax_items_to col s4"><input class="form-control numeric decimal required " type="number" step="any" name="wage_income_tax[wage_income_tax_items_attributes][replace_with_number][to]" id="wage_income_tax_wage_income_tax_items_attributes_replace_with_number_to"></div></td>' +
              '<td></td>' +
              '<td><div class="form-group decimal required wage_income_tax_wage_income_tax_items_fixed_portion col s4"><input class="form-control numeric decimal required " type="number" step="any" name="wage_income_tax[wage_income_tax_items_attributes][replace_with_number][fixed_portion]" id="wage_income_tax_wage_income_tax_items_attributes_replace_with_number_fixed_portion"></div></td>' +
              '<td></td>' +
              '<td style="width: 80px;"><div class="form-group decimal required wage_income_tax_wage_income_tax_items_percentage_over_the_excess col s4"><input class="form-control numeric decimal required " type="number" step="any" name="wage_income_tax[wage_income_tax_items_attributes][replace_with_number][percentage_over_the_excess]" id="wage_income_tax_wage_income_tax_items_attributes_replace_with_number_percentage_over_the_excess"></div></td>' +
              '<td style="text-align: center;"><span style="font-size: 16px;">Sobre o excesso de</span></td>' +
              '<td><div class="form-group decimal required wage_income_tax_wage_income_tax_items_excess_of col s4"><input class="form-control numeric decimal required " type="number" step="any" name="wage_income_tax[wage_income_tax_items_attributes][replace_with_number][excess_of]" id="wage_income_tax_wage_income_tax_items_attributes_replace_with_number_excess_of"></div></td>' +
            '</tr>';

  $('#add').click(function(){
    wage_counter = wage_counter - 1
    $('#on-top').before(line.replace(/replace_with_number/g, wage_counter));
  });
  
  $('body').on('click', 'a.delete_row', function() {
    $(this).parents('tr').remove();
  });
</script>

<style>
  #wage_form_table td{
    padding: 2px 2px;
  }
</style>
