<%= index_bar(itens: {t(".wage_income_taxes") => wage_income_taxes_url, t('.wage_income_tax') => nil}) do %>
  <%= action_btn(content: t('update'), href: edit_wage_income_tax_path(@wage_income_tax) )%>
  <% action_btn(content: t('update'), href: "wage_income_tax-modal-form", modal_trigger: true) %>
<% end %>

<p>
  <strong><%= t(".name") %>:</strong>
  <%= @wage_income_tax.name %>
</p>

<p>
  <strong><%= t(".abbr_name") %>:</strong>
  <%= @wage_income_tax.abbr_name %>
</p>

<p>
  <strong><%= t(".exempt_up_to") %>:</strong>
  <%= @wage_income_tax.exempt_up_to %>
</p>

<p>
  <strong><%= t(".max_wage") %>:</strong>
  <%= @wage_income_tax.max_wage %>
</p>

<p>
  <strong><%= t(".max_wage_fixed_portion") %>:</strong>
  <%= @wage_income_tax.max_wage_fixed_portion %>
</p>

<p>
  <strong><%= t(".percentage_over_max_wage_excess") %>:</strong>
  <%= @wage_income_tax.percentage_over_max_wage_excess %>
</p>

<p>
  <strong><%= t(".max_wage_excess_of") %>:</strong>
  <%= @wage_income_tax.max_wage_excess_of %>
</p>

<p>
  <strong><%= t(".status") %>:</strong>
  <%= @wage_income_tax.status %>
</p>


<%# render 'form', wage_income_tax: @wage_income_tax %>