<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <%= render 'layouts/excel_styles'%>
  <Worksheet ss:Name="<%=t('functions')%>">
    <Table>
      <Column ss:Width="200"/>
      <Column ss:Span="1" ss:Width="200"/>
      <Row ss:StyleID="bold">
        <Cell><Data ss:Type="String"><%=t('functions')%></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
      </Row>
      <Row ss:StyleID="bold">
        <Cell ss:StyleID="my_header"><Data ss:Type="String"><%=t('function.name')%></Data></Cell>
        <Cell ss:StyleID="my_header"><Data ss:Type="String"><%=t('function.number')%></Data></Cell>
      </Row>
      <% @functions.each_with_index do |f, index| %>
          <Row>
            <Cell ss:StyleID="<%=index.odd? ? :odd : :even%>"><Data ss:Type="String"><%= f.name%></Data></Cell>
            <Cell ss:StyleID="<%=index.odd? ? :odd : :even%>"><Data ss:Type="String"><%= f.number%></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>