<% @page_name = t('functions') %>

<%# toolbar(itens_menu: {"#{'functions'.ts}": functions_url}, bar_arguments: { add_modal: "#add-function" } ) %>
<!--<a href="#upload-file" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised modal-trigger" style="background-color: #fab033; color: #fff; margin-left: 5px;"><%=t('upload.new')%></a>-->
<%= index_bar(itens: {t('functions') => functions_url}) do %>
    <%= action_btn(content: t('add'),         href: '#add-function', modal_trigger: true) %>
    <%= action_btn(content: t('upload.new'),  href: '#upload-file', modal_trigger: true) %>
    <%= action_btn(export: :pdf) %>
    <%= action_btn(export: :xls) %>
<% end %>

<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: "name".ts)%>
    <%= h_cell(text: "Unidade Orgânica")%>
  <%end%>

  <%= t_body(elements: @functions) do |e|%>
    <%= b_row(link_to: function_url(e)) do %>
      <%= b_cell(element: e.name)%>
      <%= b_cell(element: e.organic_unit&.name || 'N/D')%>
    <%end%>
  <%end%>
<%end%>

<%= render "form" %>
<%= render 'uploads/form', upload: @upload, type: 'functions' %>
