<%= simple_form_for(question_option) do |f| %>
  <%= form_url_helpers(f)%>
  <div id="question_option-<%= question_option.question_id%>-modal-form" class="modal modal-fixed-footer">
    <div class="modal-content">
      <span class="h5-size"> <%= question_option.new_record? ? view_t('.new_x', x: view_t('.question_option')) : view_t('.edit_x', x: view_t('.question_option')) %> </span>
      <hr>

      <div class="flex-row flex-top">
        <%= f.input :question_id, as: :hidden, input_html: {class: ''} %>
        <%= f.input :status, collection: QuestionOption.enums_map_t(:status), include_blank: false, wrapper_html: {class: 'flex-col-xs-12'}, input_html: {class: ''} %>
        <%= f.input :option, wrapper_html: {class: 'flex-col-xs-12'}, input_html: {class: ''} %>
      </div>
    </div>

    <div class="modal-footer">
      <%= f.button :submit %>
      <%= link_to t('cancel'), question_option.cancel_url || question_options_path, class: 'waves-effect waves-light btn btn-flat btn-cancel-form' %>
    </div>
  </div>
<% end %>
