<p>
  <strong><%= t(".name") %>:</strong>
  <%= @tax_type.name %>
</p>

<p>
  <strong><%= t(".abbr_name") %>:</strong>
  <%= @tax_type.abbr_name %>
</p>

<p>
  <strong><%= t(".percentage") %>:</strong>
  <%= @tax_type.value %>
</p>

<p>
  <strong><%= t(".percentage_from_employee") %>:</strong>
  <%= @tax_type.percentage_from_employee %>
</p>

<p>
  <strong><%= t(".percentage_from_employer") %>:</strong>
  <%= @tax_type.percentage_from_employer %>
</p>

<p>
  <strong><%= t(".status") %>:</strong>
  <%= @tax_type.status %>
</p>