<%= index_bar(itens: {view_t(".lessons") => nil }) do %>
  <%#= action_btn(content: view_t('add'), href: new_lesson_path) %>
  <%= action_btn(content: view_t('add'), href: "#lesson-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: view_t('filter'), href: "#filter-lessons-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: view_t(".name") )%>
    <%= h_cell(text: view_t(".video") )%>
    <%= h_cell(text: view_t(".text") )%>
    <%= h_cell(text: view_t(".chapter") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @lessons) do |e| %>
    <%= b_row(link_to: lesson_path(e)) do %>
      <%= b_cell(element: e.name)%>
      <%= b_cell(element: e.video)%>
      <%= b_cell(element: e.text)%>
      <%= b_cell(element: e.chapter)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e if can?(:show, e) %> | 
        <%= link_to t('edit'), edit_lesson_path(e) if can?(:edit, e) %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } if can?(:destroy, e) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(lessons_url, "lessons") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', lesson: @lesson %>