<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @role.account %>
</p>

<p>
  <strong>Roles mask:</strong>
  <%= @role.roles_mask %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
