<%= simple_form_for(employee_salary_family) do |f| %>
  <%= form_url_helpers(f)%>
  <div id="employee_salary_family-modal-form" class="modal modal-fixed-footer">
    <div class="modal-content">
      <span class="h5-size"> <%= employee_salary_family.new_record? ? view_t('.new_x', x: view_t('.employee_salary_family')) : view_t('.edit_x', x: view_t('.employee_salary_family')) %> </span>
      <hr>

      <div class="flex-row flex-top">
        <%= f.input :employee_id, as: :hidden, include_blank: false, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: ''} %>
        <%= f.association :salary_family, collection: SalaryFamily.latest.order('salary_grids.number desc').map_for_select(:name), include_blank: false, wrapper_html: {class: 'flex-col-xs-12'}, input_html: {class: 'default-selectize'} %>
        <%= f.association :paygrade_change_reason, include_blank: false, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: 'default-selectize'} %>
        <%= f.input :level, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: ''} %>
        <%= f.input :paygrade, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: ''} %>
        <%= f.input :since, as: :flatpickr, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: ''} %>
        <%= f.input :base_salary, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: ''} %>
      </div>
    </div>

    <div class="modal-footer">
      <%= f.button :submit %>
      <%= link_to t('cancel'), employee_salary_family.cancel_url || employee_salary_families_path, class: 'waves-effect waves-light btn btn-flat btn-cancel-form' %>
    </div>
  </div>
<% end %>
