
<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: "Relatório de Participação", align: :center, sortable: false )%>
  <% end %>
<% end %>

<div class="row">
  <div class="col s6 chart-container" style="position: relative;">
    <%= chart_export_btn('#chartjs-report-2', 'Comparação de participação com os dois anos anteriores') %>
    <%=
      data = {
        labels: ["Ano de 2017", "Ano de 2018"],
        datasets: [
          {
            label: 2017,
            backgroundColor: 'rgba(200, 12, 12, 0.5)',
            data: [20, 30, 50]
          },
          {
            label: 2018,
            backgroundColor: 'rgba(99, 200, 99, 0.7)',
            data: [40, 30, 10]
          }
        ]
      }
      options = {
        id: 'chartjs-report-2',
        height: '180',
        title: {
          display: true,
          text: 'Comparação de participação com os dois anos anteriores'
        },
        scales: {
          xAxes: [{
            barThickness: 9,
            ticks: {
              fontSize: 9
            }
          }],
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                fontSize: 9,
                max: 100,
                min: 0,
                stepSize: 25
              }
            }
          ]
        }
      }

      bar_chart data, options 
    %>
  </div>

  <div class="col s6 chart-container" style="position: relative;">
    <%= chart_export_btn('#chartjs-report-3', 'Classificações Finais') %>
    <%=
      data = {
        labels: ["Excelente", "Bom", "Suficiente", "Insuficiente", "Mau"],
        datasets: [
          {
            label: "Classificações Finais Globais",
            backgroundColor: ['rgba(99, 200, 99, 0.5)', 'rgba(99, 100, 99, 0.5)', 'rgba(250, 176, 51, 0.5)', 'rgba(150, 176, 51, 0.5)', 'rgba(200, 12, 12, 0.5)'],
            data: [50, 30, 60, 20, 30]
          }
        ]
      }
      options = {
        id: 'chartjs-report-3',
        height: '180',
        title: {
          display: true,
          text: 'Classificações Finais'
        }
      }
      doughnut_chart data, options
    %>
  </div>
</div>