<%= index_bar(itens: {view_t(".team_goals") => team_goals_url, view_t('.team_goal') => nil}) do %>
  <%#= action_btn(content: view_t('update'), href: edit_team_goal_path(@team_goal) ) if can?(:edit, @team_goal) %>
  <%= action_btn(content: view_t('update'), href: "#team_goal-modal-form", modal_trigger: true) if can?(:edit, @team_goal) %>
<% end %>

<div class="flex-row">
  <div class="flex-col-xs-12 flex-col-sm-3 no-padding-left">
    <%= show_item(view_t(".general_goal"), "#{@team_goal&.general_goal&.enum_t(:mode) || 'N/D'} - #{@team_goal&.general_goal&.target || 'N/D'} - #{@team_goal&.general_goal&.enum_t(:period) || 'N/D'}") %>
    <%= show_item(view_t(".assessment"), "#{@team_goal&.assessment&.year}" || 'N/D') %>
    <%= show_item(view_t(".period"), @team_goal&.enum_t(:period))  || 'N/D'%>
    <%= show_item(view_t(".target"), @team_goal&.target)  || 'N/D'%>
    <%= show_item(view_t(".mode"), @team_goal&.enum_t(:mode))  || 'N/D'%>
  </div>
  <div class="flex-col-xs-12 flex-col-sm-3">
    <h6><strong><%= view_t(".employees")%></strong></h6>
    <% @team_goal.employees.each do |e|%>
      <%= show_item(view_t(".name"), e.first_and_last_name || 'N/D') %>
    <% end %>
  </div>
  <div class="flex-col-xs-12 flex-col-sm-3">
    <h6><strong><%= view_t(".functions")%></strong></h6>
    <% @team_goal.functions.each do |e|%>
      <%= show_item(view_t(".name"), "#{e.name_and_number}") %>
    <% end %>
  </div>
  <div class="flex-col-xs-12 flex-col-sm-3">
    <h6><strong><%= view_t(".positions")%></strong></h6>
    <% @team_goal.positions.each do |e|%>
      <%= show_item(view_t(".name"), "#{e.name_and_number}") %>
    <% end %>
  </div>
</div>
<br>
<%= show_item(".objectives", @team_goal&.objectives) %>

<%= render 'form', team_goal: @team_goal %>
