<%= simple_form_for(salary_family) do |f| %>
  <%= form_url_helpers(f)%>
  <div id="salary_family-modal-form" class="modal modal-fixed-footer">
    <div class="modal-content">
      <span class="h5-size"> <%= salary_family.new_record? ? view_t('.new_x', x: view_t('.salary_family')) : view_t('.edit_x', x: view_t('.salary_family')) %> </span>
      <hr>

      <div class="flex-row flex-top">
        <%= f.association :salary_grid, collection: SalaryGrid.latest.map_for_select(:gs), include_blank: false, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: 'default-selectize'} %>
        <%= f.association :salary_category, include_blank: false, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: 'default-selectize'} %>
        <%= f.association :salary_area, include_blank: false, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: 'default-selectize'} %>
        <%= f.input :family, include_blank: false, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: ''} %>
        <%= f.association :salary_layer, include_blank: false, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: 'default-selectize'} %>
        <%= f.association :salary_group, include_blank: false, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: 'default-selectize'} %>
        <%= f.input :core, include_blank: false, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: ''} %>
      </div>
    </div>

    <div class="modal-footer">
      <%= f.button :submit %>
      <%= link_to t('cancel'), salary_family.cancel_url || salary_families_path, class: 'waves-effect waves-light btn btn-flat btn-cancel-form' %>
    </div>
  </div>
<% end %>
