<%= index_bar(itens: {view_t(".chapters") => nil }) do %>
  <%#= action_btn(content: view_t('add'), href: new_chapter_path) %>
  <%= action_btn(content: view_t('add'), href: "#chapter-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: view_t('filter'), href: "#filter-chapters-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: view_t(".number") )%>
    <%= h_cell(text: view_t(".name") )%>
    <%= h_cell(text: view_t(".course") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @chapters) do |e| %>
    <%= b_row(link_to: chapter_path(e)) do %>
      <%= b_cell(element: e.number)%>
      <%= b_cell(element: e.name)%>
      <%= b_cell(element: e.course)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e if can?(:show, e) %> | 
        <%= link_to t('edit'), edit_chapter_path(e) if can?(:edit, e) %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } if can?(:destroy, e) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(chapters_url, "chapters") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', chapter: @chapter %>