<% @page_name = t('.forgot_your_password') %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="login_box login_header">
    <%= image_tag(configuration.entity_logo_url, class: "img-responsive settings-logo") %>
  </div>

  <div class="flex-container-fluid " style="margin-top: 5%;">
    <div class="flex-row flex-center-xs">
      <div class="flex-col-xs-12 flex-col-sm-4 flex-col-md-3" style="min-width: 415px; max-width: 415px; width: 415px;">

        <%= f.input :email, autofocus: true, :input_html => {class:'form-control no-margin'}, placeholder: :email, label: false  %>
        <%= f.submit t('.send_me_reset_password_instructions'), class: "waves-effect waves-light btn login_button btn-block" %>

        <br>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
