<%= simple_form_for(@paygrade_board) do |f| %>
  <%= form_url_helpers(f)%>

<span class="h5-size"> <%= @paygrade_board.new_record? ? t('.new') : t('.edit') %> </span>
  

<table>
  <thead>
    <tr>
      <th style='width: 30px;'><%= t '.level'%></th>
      <th><%= t '.value'%></th>
      <th><%= t '.increment'%></th>
      <th><%= t '.a'%></th>
      <th><%= t '.b'%></th>
      <th><%= t '.c'%></th>
      <th><%= t '.d'%></th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td>1</td>
        <td><%= f.input :level_1_value, label: false %></td>
        <td><%= f.input :level_1_increment, label: false %></td>
        <td><%= f.input :level_1_a_value, label: false %></td>
        <td><%= f.input :level_1_b_value, label: false %></td>
        <td><%= f.input :level_1_c_value, label: false %></td>
        <td><%= f.input :level_1_d_value, label: false %></td>
    </tr>
    <tr>
        <td>2</td>
        <td><%= f.input :level_2_value, label: false %></td>
        <td><%= f.input :level_2_increment, label: false %></td>
        <td><%= f.input :level_2_a_value, label: false %></td>
        <td><%= f.input :level_2_b_value, label: false %></td>
        <td><%= f.input :level_2_c_value, label: false %></td>
        <td><%= f.input :level_2_d_value, label: false %></td>
    </tr>
    <tr>
        <td>3</td>
        <td><%= f.input :level_3_value, label: false %></td>
        <td><%= f.input :level_3_increment, label: false %></td>
        <td><%= f.input :level_3_a_value, label: false %></td>
        <td><%= f.input :level_3_b_value, label: false %></td>
        <td><%= f.input :level_3_c_value, label: false %></td>
        <td><%= f.input :level_3_d_value, label: false %></td>
    </tr>
    <tr>
        <td>4</td>
        <td><%= f.input :level_4_value, label: false %></td>
        <td><%= f.input :level_4_increment, label: false %></td>
        <td><%= f.input :level_4_a_value, label: false %></td>
        <td><%= f.input :level_4_b_value, label: false %></td>
        <td><%= f.input :level_4_c_value, label: false %></td>
        <td><%= f.input :level_4_d_value, label: false %></td>
    </tr>
    <tr>
        <td>5</td>
        <td><%= f.input :level_5_value, label: false %></td>
        <td><%= f.input :level_5_increment, label: false %></td>
        <td><%= f.input :level_5_a_value, label: false %></td>
        <td><%= f.input :level_5_b_value, label: false %></td>
        <td><%= f.input :level_5_c_value, label: false %></td>
        <td><%= f.input :level_5_d_value, label: false %></td>
    </tr>
    <tr>
        <td>6</td>
        <td><%= f.input :level_6_value, label: false %></td>
        <td><%= f.input :level_6_increment, label: false %></td>
        <td><%= f.input :level_6_a_value, label: false %></td>
        <td><%= f.input :level_6_b_value, label: false %></td>
        <td><%= f.input :level_6_c_value, label: false %></td>
        <td><%= f.input :level_6_d_value, label: false %></td>
    </tr>
    <tr>
        <td>7</td>
        <td><%= f.input :level_7_value, label: false %></td>
        <td><%= f.input :level_7_increment, label: false %></td>
        <td><%= f.input :level_7_a_value, label: false %></td>
        <td><%= f.input :level_7_b_value, label: false %></td>
        <td><%= f.input :level_7_c_value, label: false %></td>
        <td><%= f.input :level_7_d_value, label: false %></td>
    </tr>
    <tr>
        <td>8</td>
        <td><%= f.input :level_8_value, label: false %></td>
        <td><%= f.input :level_8_increment, label: false %></td>
        <td><%= f.input :level_8_a_value, label: false %></td>
        <td><%= f.input :level_8_b_value, label: false %></td>
        <td><%= f.input :level_8_c_value, label: false %></td>
        <td><%= f.input :level_8_d_value, label: false %></td>
    </tr>
    <tr>
        <td>9</td>
        <td><%= f.input :level_9_value, label: false %></td>
        <td><%= f.input :level_9_increment, label: false %></td>
        <td><%= f.input :level_9_a_value, label: false %></td>
        <td><%= f.input :level_9_b_value, label: false %></td>
        <td><%= f.input :level_9_c_value, label: false %></td>
        <td><%= f.input :level_9_d_value, label: false %></td>
    </tr>
    <tr>
        <td>10</td>
        <td><%= f.input :level_10_value, label: false %></td>
        <td><%= f.input :level_10_increment, label: false %></td>
        <td><%= f.input :level_10_a_value, label: false %></td>
        <td><%= f.input :level_10_b_value, label: false %></td>
        <td><%= f.input :level_10_c_value, label: false %></td>
        <td><%= f.input :level_10_d_value, label: false %></td>
    </tr>
  </tbody>
</table>
  <div class="row">
    <%= f.input :status, collection: PaygradeBoard.enums_map_t(:status), include_blank: false, label: false, input_html: {class: 'col s4'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t('cancel'), latest_paygrade_board_url%>
  </div>
<% end %>



