<%= simple_form_for(function_setting) do |f| %>
  <%= form_url_helpers(f)%>
  <div id="function_setting-modal-form" class="modal modal-fixed-footer">
    <div class="modal-content">
      <span class="h5-size"> <%= function_setting.new_record? ? view_t('.new_x', x: view_t('.function_setting')) : view_t('.edit_x', x: view_t('.function_setting')) %> </span>
      <hr>

      <div class="flex-row flex-top">
        <%= f.input :max_chairman_number, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: ''} %>
      </div>
    </div>

    <div class="modal-footer">
      <%= f.button :submit %>
      <%= link_to t('cancel'), function_setting.cancel_url || function_settings_path, class: 'waves-effect waves-light btn btn-flat btn-cancel-form' %>
    </div>
  </div>
<% end %>
