<%= index_bar(itens: {view_t(".function_settings") => nil }) do %>
  <%#= action_btn(content: view_t('add'), href: new_function_setting_path) %>
  <%= action_btn(content: view_t('add'), href: "#function_setting-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: view_t('filter'), href: "#filter-function_settings-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: view_t(".max_chairman_number") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @function_settings) do |e| %>
    <%= b_row(link_to: function_setting_path(e)) do %>
      <%= b_cell(element: e.max_chairman_number)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e if can?(:show, e) %> | 
        <%= link_to t('edit'), edit_function_setting_path(e) if can?(:edit, e) %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } if can?(:destroy, e) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(function_settings_url, "function_settings") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', function_setting: @function_setting %>