<%= index_bar(itens: {t(".assessment_settings") => nil }) do %>
  <%= action_btn(content: t('add'), href: new_assessment_setting_path) %>
  <% action_btn(content: t('add'), href: "#assessment_setting-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: t('filter'), href: "#filter-assessment_settings-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @assessment_settings) do |e| %>
    <%= b_row(link_to: assessment_setting_path(e)) do %>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e %> | 
        <%= link_to t('edit'), edit_assessment_setting_path(e) %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(assessment_settings_url, "assessment_settings") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%# render 'form', assessment_setting: @assessment_setting %>