<%= simple_form_for([employee, employee_regime]) do |f| %>
  <%= form_url_helpers(f)%>
  <div id="employee_regime-modal-form" class="modal modal-fixed-footer">
    <div class="modal-content">
      <span class="h5-size"> <%= employee_regime.new_record? ? 'Registar Regime' : 'Actualizar Regime' %> </span>
      <hr>

      <div class="flex-row flex-top">
        <%= f.input :regime, collection: EmployeeRegime.enums_map_t(:regime), include_blank: false, wrapper_html: {class: 'flex-col-xs-12'}, input_html: {class: ''} %>
        <%= f.input :enters_at, as: :flatpickr_time, wrapper_html: {class: 'flex-col-xs-6 time_columns'} %>
        <%= f.input :leaves_at, as: :flatpickr_time, wrapper_html: {class: 'flex-col-xs-6 time_columns'} %>
        <% f.association :employee, wrapper_html: {class: 'flex-col-xs-4'}, input_html: {class: ''} %>
      </div>
    </div>

    <div class="modal-footer">
      <%= f.button :submit %>
      <%= link_to t('cancel'), employee_regime.cancel_url || employee_employee_regimes_path(@employee), class: 'waves-effect waves-light btn btn-flat btn-cancel-form' %>
    </div>
  </div>
<% end %>

<script>
  $('#employee_regime_regime').change(function () {
    if ($("#employee_regime_regime option:selected").val() == 'five_two' || $("#employee_regime_regime option:selected").val() == 'six_one') {
      $(".time_columns").removeClass('hide');
    } else {
      $(".time_columns").addClass('hide');
    }
  });
</script>
