<%= index_bar(itens: {t(".christmas_subsidy_salaries") => nil }) do %>
  <%= action_btn(content: t('add'), href: new_christmas_subsidy_salary_path) %>
  <% action_btn(content: t('add'), href: "christmas_subsidy_salary-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: t('filter'), href: "#filter-christmas_subsidy_salaries-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: t(".name") )%>
    <%= h_cell(text: t(".abbr_name") )%>
    <%= h_cell(text: t(".value") )%>
    <%= h_cell(text: t(".year") )%>
    <%= h_cell(text: t(".salary") )%>
    <%= h_cell(text: t(".christmas_subsidy") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @christmas_subsidy_salaries) do |e| %>
    <%= b_row(link_to: christmas_subsidy_salary_path(e)) do %>
      <%= b_cell(element: e.name)%>
      <%= b_cell(element: e.abbr_name)%>
      <%= b_cell(element: e.value)%>
      <%= b_cell(element: e.year)%>
      <%= b_cell(element: e.salary)%>
      <%= b_cell(element: e.christmas_subsidy)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e %> | 
        <%= link_to t('edit'), edit_christmas_subsidy_salary_path(e) %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(christmas_subsidy_salaries_url, "christmas_subsidy_salaries") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%# render 'form', christmas_subsidy_salary: @christmas_subsidy_salary %>