<%= simple_form_for justification, html: {multipart: true} do |f| %>
    <div id="add-justification" class="modal modal-fixed-footer">
      <div class="modal-content">
        <span class="h5-size"> <%= justification.new_record? ? t('justification.new') : t('justification.edit') %> </span>
        <br>
        <br>
        <div class="row">
          <% if justification.new_record? %>
              <%= f.input :employee_id, as: :hidden %>

              <div class="col input-field select required justification_attendance_id_ s12 m6">
                <%= select_tag 'justification[attendance_ids][]', options_for_select(Attendance.without_justification.where(employee_id: justification.employee_id).map {|a| ["#{a.date.strftime('%d-%b-%Y')}  #{t("long.#{a.status}")}", a.id]}), prompt: false, label: '', multiple: :multiple %>
                <%= f.label :attendance_ids.ts %>
                <%= f.error :attendance_ids %>
              </div>

              <%= f.input :documents, label: "Comprovativos",as: :bootstrap_file, wrapper_html: {class: 'col s12 m6'}, input_html: {multiple: true} %>
          <% end %>

          <% if current.team_members.map(&:id).include?(justification.employee_id) %>
              <% f.input :status, collection: Justification.statuses.for_select(:ts), wrapper_html: {class: 'col s12'}, input_html: {class: 'default-selectize'} %>
          <% end %>

          <%= f.input :employee_note, label: "Nota do Colaborador", wrapper_html: {class: 'col s12'}, readonly: current.employee&.id != justification.employee_id %>
          <%= f.input :supervisor_note, label: "Nota do Supervisor", wrapper_html: {class: 'col s12'}, readonly: !current.team_members.include?(justification.employee) %>
        </div>
      </div>

      <div class="modal-footer">
        <%= f.button :submit, "Registar" %>
        <%= close_modal_btn %>
      </div>
    </div>
<% end %>