<%= index_bar(itens: {view_t(".exams") => nil }) do %>
  <%#= action_btn(content: view_t('add'), href: new_exam_path) %>
  <%= action_btn(content: view_t('add'), href: "#exam-modal-form", modal_trigger: true) %>
  <%#= action_btn(content: view_t('filter'), href: "#filter-exams-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: view_t(".chapter") )%>
    <%= h_cell(text: view_t(".expected_value") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @exams) do |e| %>
    <%= b_row(link_to: exam_path(e)) do %>
      <%= b_cell(element: e.chapter)%>
      <%= b_cell(element: e.expected_value)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e if can?(:show, e) %> | 
        <%= link_to t('edit'), edit_exam_path(e) if can?(:edit, e) %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } if can?(:destroy, e) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(exams_url, "exams") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', exam: @exam %>