<%= index_bar(itens: {t(".paygrade_change_reasons") => nil }) do %>
  <%= action_btn(content: t('add'), href: '#paygrade_change_reason-modal-form', modal_trigger: true) %>
  <% action_btn(content: t('filter'), href: "#filter-paygrade_change_reasons-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: t(".reason") )%>
    <%= h_cell(sortable: false) %>
  <% end %>

  <%= t_body(elements: @paygrade_change_reasons) do |e| %>
    <%= b_row(link_to: paygrade_change_reason_path(e)) do %>
      <%= b_cell(element: e.reason)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(paygrade_change_reasons_url, "paygrade_change_reasons") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>

<%= render 'form', paygrade_change_reason: @paygrade_change_reason %>