<%= index_bar(itens: {t(".latest_christmas_subsidy") => latest_christmas_subsidy_url, t('.christmas_subsidy') => nil}) do %>
  <%= action_btn(content: t('update'), href: edit_christmas_subsidy_path(@christmas_subsidy) )%>
  <% action_btn(content: t('update'), href: "christmas_subsidy-modal-form", modal_trigger: true) %>
<% end %>

<p>
  <strong><%= t(".name") %>:</strong>
  <%= @christmas_subsidy.name %>
</p>

<p>
  <strong><%= t(".abbr_name") %>:</strong>
  <%= @christmas_subsidy.abbr_name %>
</p>

<p>
  <strong><%= t(".percentage") %>:</strong>
  <%= @christmas_subsidy.percentage %>
</p>

<p>
  <strong><%= t(".status") %>:</strong>
  <%= @christmas_subsidy.status %>
</p>


<%# render 'form', christmas_subsidy: @christmas_subsidy %>