<!DOCTYPE html>
<html>
  <head>
    <title>Banco Sol - <%= @page_name %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if is_internet_explorer? %>
      <%= render "layouts/unsuported_browser_message" %>
  <% else %>
      <%= toasts%>
      <%= yield %>
  <% end %>
  </body>
</html>
