<%= index_bar(itens: {t(".tax_salaries") => nil }) do %>
  <%= action_btn(content: t('add'), href: '#subsidy_types-modal-form', modal_trigger: true) %>
  <% action_btn(content: t('filter'), href: "#filter-tax_salaries-modal", modal_trigger: true, color: :blue) %>
<% end %>


<%= l_table do %>
  <%= t_header do %>
    <%= h_cell(text: t(".value") )%>
    <%= h_cell(text: t(".salary") )%>
    <%= h_cell(text: t(".tax_type") )%>
    <%= h_cell(text: '' ) %>
  <% end %>

  <%= t_body(elements: @tax_salaries) do |e| %>
    <%= b_row(link_to: tax_salary_path(e)) do %>
      <%= b_cell(element: e.value)%>
      <%= b_cell(element: e.salary)%>
      <%= b_cell(element: e.tax_type)%>
      <%= b_cell(text: "") do %>
        <%= link_to t('show'), e %> | 
        <%= link_to t('destroy'), e, method: :delete, data: { confirm: t('are_you_sure') } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= filter_modal(tax_salaries_url, "tax_salaries") do %>
    <div class="flex-row">
      <div class="flex-col-xs-12 flex-col-sm-3">

      </div>
    </div>
<% end %>
<%= render 'form', tax_salary: @tax_salary %>